<div class="dashboard">
  <h2>Chào mừng, {{ username }}!</h2>
  <p>Bạn đã đăng nhập thành công.</p>

  <button *ngIf="role === 'user' || role === 'admin'" (click)="onViewProfileList()" class="form-container button">
     {{ showUserList ? 'Ẩn  Danh Sách Người Dùng' : 'Xem Danh Sách Người Dùng' }}
    
  </button>

  <button *ngIf="role === 'user' || role === 'admin'" (click)="onViewProfile()" class="form-container button">
    {{ showProfile ? 'Ẩn Hồ sơ' : 'Xem Hồ sơ' }}
  </button>

  <app-view-profile-component *ngIf="showProfile" [username]="username" [role]="role" [name]="name"
    [address]="address" [showProfile]="showProfile" (profileUpdated)="onProfileUpdated($event)"
    (closeProfile)="onCloseProfile()">
  </app-view-profile-component>
  <app-user-list-component *ngIf="showUserList" [showUserList]="showUserList"
    (onCloseListUser)="onCloseListUser()">
  </app-user-list-component>
</div>